[General]
ckan_target=http://my.ckan.gov/api
ckan_target_api_key=11111111-1111-1111-1111-111111111
path_for_resources=/path/to/resource/
treated_item_path=/tmp/
log_file=ckanclientmtl.log

[MailConfig]
sender=my-email@example.net 
destination=destination@example.net
smtp_server=smtp.server.com
smtp_port=587
smtp_starttls=Y
smtp_username=my.user
smtp_password=passwd
